<!--
    ============================================
; Title:  kimberlin-assignment-3.4
; Author: Professor Krasso
; Date:   January 19 2021
; Modified By: Rhiannon Kimberlin
; Description: Enhanced-secure-profile-app
;===========================================
-->

<!--Bootstrap navBar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
  
  <div class="container">
    <br /><br />
    <!--Assignment Title-->
    <h2>Assignment 3.4 - Guarding Routes</h2>
    <br />
  
      <!--Image Import -->
      <div class="col-sm-6">
        <app-my-image></app-my-image>
      </div>
  
      <!--Profile Details -->
      <div class="col-sm-5">
        <app-my-details></app-my-details>
      </div>
    </div>

 