<!--
    ============================================
; Title:  kimberlin-assignment-5.4
; Author: Professor Krasso
; Date:   February 1 2021
; Modified By: Rhiannon Kimberlin
; Description: in-n-out-booksp3
;===========================================
-->

<div fxLayout="row wrap">

    <div fxFlex>

        <div fxLayout="column">

            <div>
                <!--Author Photo on Left with caption-->
                <img src='./assets/jla.jpg'>
            </div>

            <div>
                <em>
                    Photo Credit: Vania Stoyanova
                </em>
            </div>
        </div>
    </div>
</div>

<!--Author biography on right-->
<div fxFlex>
    <h1 class="blue">Who in the llama loving heck is Jennifer L. Armentrout???</h1>
    <p>
        Jennifer L. Armentrout is a #1 New York Times and international bestselling author. Since 2011, she has been releasing books and has so far released over 60 books under both her name and her pen name, J. Lynn.
        She currently lives in Martinsburg, West Virgina, where coincidentally some of her books take place.
        Jennifer lives on a ranch with her husband, dog, six alpacas, two goats and five sheep.
        In 2015, she was diagnosed with a retinitis pigmentosa, which is a rare genetic disease that involves the death of cells, ultimately leading in loss of vision among other complications. 
        Since her diagnosis, she has been teaching others, even through her characters about the varying degrees of blindness. 
        Jennifer plans to continue writing for as long as her vision allows.  
    </p>
    <em><a href="https://jenniferlarmentrout.com/author/" target="_blank" class="attribution-link">Source</a></em>
  </div>
