<!--
    ============================================
; Title:  kimberlin-assignment-6.2
; Author: Professor Krasso
; Date:   February 7 2021
; Modified By: Rhiannon Kimberlin
; Description: in-n-out-booksp4
;===========================================
-->

<mat-toolbar class="toolbar">
  <mat-toolbar-row>

    <!-- Book Logo in Top Left at 80 height -->
    <div class="logo">
      <img src="./assets/book-logo.png" height="80" />
    </div>

    <!-- Navigation on top-right -->
    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/book-list">Book List</button>
        <button mat-button routerLink="/contact">Contact Us</button>
        <button mat-button routerLink="/about">About Us</button>
        <!--Added new Route to WishList-->
        <button mat-button routerLink="/wishlist">Wishlist</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br >

<div fxLayout="row wrap">
  <!-- Flex Element under Flex Layout-->
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title class="blue">{{ assignment }}</mat-card-title>

      <br><br>

      <!-- Router outlet changes view dependent on what is clicked -->
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>