<!--
    ============================================
; Title:  kimberlin-assignment-4.3
; Author: Professor Krasso
; Date:   January 25 2021
; Modified By: Rhiannon Kimberlin
; Description: reactive-composer-app
;===========================================
-->

<!--Composer About Content-->
<div class="main">
    <div class="row">
        <div class = "col-sm-12">
            <h4 class="bio">Fryderyk Chopin</h4>
        </div>
    </div>

    <!--Biography Content-->
    <div class="row">
        <!--Img DIV-->
        <div class="col-sm-5">
            <figure>
                <img src="./assets/chopin.jpg" alt="Chopin" width="300">
                <figcaption>
                    <a href="Stockfreeimages.com">StockFreeImages.com</a>
                </figcaption>
            </figure>
        </div>
        <!--Bio Div-->
        <div class="col-sm-7">
            <br /><br />
            Chopin was a Polish composer born 1810. By the age of six, Chopin was receiving his first piano lessons and made his first public debut by the age of nine. Chopin left Poland and began to debut in Paris with little success until he met Prince Radziwiłł, which forever changed his life. Chopin wrote just shy of 200 works, which were unique due to the fact that he was the only great composer who focused on piano with no symphonies, operas or choral works.
        </div>
    </div>
</div>