<!--
    ============================================
; Title:  kimberlin-assignment-5.4
; Author: Professor Krasso
; Date:   February 1 2021
; Modified By: Rhiannon Kimberlin
; Description: in-n-out-booksp3
;===========================================
-->

<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card>
            <!--Navigation Icon on Left-->
            <mat-card-title class="card-title-icon">
                <mat-icon color="primary">navigation</mat-icon>
            </mat-card-title>
            <!--Location Information on Left under Icon-->
            <mat-card-content class="align-center">
                <p>
                    505 Main Street
                </p>
                <p>
                    Omaha, Nebraska
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <mat-card>
            <!--Phone Icon on Right-->
            <mat-card-title  class="card-title-icon">
                <mat-icon color="primary">phone</mat-icon>
            </mat-card-title>
            <br />
            <!--Phone Information on Right-->
            <mat-card-content class="align-center">
                <p>
                    Direct: 555-555-5555
                </p>
                <p>
                    Toll-Free: 1-888-555-5555
                </p>
                <p>
                    Fax: 555-555-5555
                </p>
            </mat-card-content>
        </mat-card>
    </div>

</div>
<br />
<br />
<br />
<br />
<!--Text information under Phone/Location Icons and information-->
<div fxLayout="column">
    <p style="text-align: center">
    Visit us online or at one of our many great locations throughout Omaha, NE!</p>
</div>